<h1>CitiBike!</h1>

<form id="get-directions-form">
  <label>
    Start: <input type="text" id="start">
  </label>
  <label>
    Destination: <input type="text" id="end">
  </label>
  <input type='submit'></input>
</form>


<div id="map-canvas"/></div>
<div id="directionsPanel"></div>
<div id="directionsPanel2"></div>

<h3><%= @stations["executionTime"] %></h3>
<h4><%= @stations["stationBeanList"].count %></h4>
<!-- 
<% @stations["stationBeanList"].each do |station| %>
  <p><%= station["stationName"]%></p>
<% end %> -->