<h1>CitiBike!</h1>


<div id="map-canvas"/>
</div>

<h3><%= @stations["executionTime"] %></h3>
<h4><%= @stations["stationBeanList"].count %></h4>

<% @stations["stationBeanList"].each do |station| %>
  <p><%= station["stationName"]%></p>
<% end %>