<h1>CitiBike!</h1>

<form id="get-directions-form">
  <label>
    Start: <input type="text" id="start">
  </label>
  <label>
    Destination: <input type="text" id="end">
  </label>
  <input type='submit'></input>
</form>


<div id="map-canvas"/></div>

<div class="directions-container">
  <div class="directions" id="directionsPanel1">
    <h3 class="directions-discription" id="directions-info1"></h3>
  </div>
  <div class="directions" id="directionsPanel2">
    <h3 class="directions-discription" id="directions-info2"></h3>
  </div>
  <div class="directions" id="directionsPanel3">
    <h3 class="directions-discription" id="directions-info3"></h3>
  </div>
</div>

<h3><%= @stations["executionTime"] %></h3>
<h4><%= @stations["stationBeanList"].count %></h4>
<!-- 
<% @stations["stationBeanList"].each do |station| %>
  <p><%= station["stationName"]%></p>
<% end %> -->